.sidebar {
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.4);
    padding-right: 10px;
    margin-right: 10px;
    height: 100vh;
}

.logo {
    align: middle;
    width: 400px;
}

.fauxNavElement {
    height: 10px;
    background-color: #eee;
}

.fauxNav {
    margin: 20px 0;
}

.fauxNavElement:not(:last-child) {
    margin-bottom: 10px;
}
