.header {
    display:flex;
    transition: 0.4s;
}

.accordion {
    padding: 18px 0px 18px 18px !important;
}

.drop-down {
    margin-top: auto;
    margin-bottom: auto;
    float: right;
    transition: 0.4s;
}

.mcontainer {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px ;
    width: 80%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.header:hover{
    background-color: #ccc;
}

.header:hover .accordion{
    background-color: #ccc;
}

.header:hover .drop-down{
    background-color: #ccc;
}

.active, .mcontainer:hover {
    background-color: #ccc;
}
